<div class="dropdown row">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Add Table <i class="glyphicon glyphicon-plus"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <!-- Add Customer button -->
        <li>
            <a id="addCustomerBtn" OnClick="addCustomerButton()" class="inline bold-boy">
                Customer <span id="customerChk" class="glyphicon glyphicon-ok"></span>
            </a>
        </li>
        <!-- Add Cart button -->
        <li>
            <a id="addCartBtn" OnClick="addCartButton()" class="inline bold-boy">
                Cart <span id="cartChk" style="display:none;" class="glyphicon glyphicon-ok"></span>
            </a>
        </li>
        <!-- Add Order button -->
        <li>
            <a id="addOrderBtn" OnClick="addOrderButton()" class="inline bold-boy">
                Order <span id="orderChk" style="display:none;" class="glyphicon glyphicon-ok"></span>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <!-- Add Product button -->
        <li>
            <a id="addProductBtn" OnClick="addProductButton()" class="inline bold-boy">
                Product <span id="productChk" style="display:none;" class="glyphicon glyphicon-ok"></span>
            </a>
        </li>
    </ul>
</div>

<div id="tables" class="row">
    
</div>

<script>
    $(document).ready(function () {
        $("#customerChk").hide();
        $("#orderChk").hide();
        $("#cartChk").hide();
        $("#productChk").hide();
    });

    function addCustomerButton() {
        $.ajax({
            url: '@Url.Action("GetTestCustomer", "Home")',
            success: function (data) {
                $('#tables').html($('#tables').html() + data);
            }
        });
    }

    function addOrderButton() {
        $.ajax({
            url: '@Url.Action("GetTestOrder", "Home")',
            success: function (data) {
                $('#tables').html($('#tables').html() + data);
            }
        });
    }

    function addCartButton() {
        $.ajax({
            url: '@Url.Action("GetTestCart", "Home")',
            success: function (data) {
                $('#tables').html($('#tables').html() + data);
            }
        });
    }

    //https://stackoverflow.com/questions/6119098/how-to-call-controller-actions-using-jquery-in-asp-net-mvc
    function addProductButton() {
        $.ajax({
            url: '@Url.Action("GetTestProduct", "Home")',
            success: function (data) {
                $('#tables').html($('#tables').html() + data);
            }
        });
    }

    // Method for making a table
    function makeTable(tableName, title, fields) {
        // Make table....
        $("#table-template")
            .clone()
            .removeAttr("style")
            .attr("id", tableName)
            .appendTo($('#tables'));
        // Fade out table so we can fade back in
        var table = $("#" + tableName);
        table.fadeOut(0);

        $("#" + tableName + " #table-title")
            .text(title);

        for (field of fields) {
            // Add column to table...
            $("#column-template")
                .clone()
                .removeAttr("style")
                .attr("id", field.id)
                .appendTo($("#" + tableName + " #table-body"));

            $("#" + field.id + " #desc")
                .attr("id", field.id + "Lbl")
                .text(field.display);

            if (field.format) {
                $("#" + field.id + " #txt-input").after("<a style=\"padding-left: 15px;\" class=\"text-field-desc\">" + field.format + "</a>")
            }

        }
        table.fadeIn(200);
    }

</script>