@using JacobClient.Models
@model Product
<div id="table-body" class="row well well-lg">
    <div id="prodId" class="col-md-3">
        <div class="col-md-3" style="padding: 0px;">
            <a class="text-field-desc" id="prodIdLbl">Product ID</a>
        </div>
        <div class="col-md-9">
            <input type="text" id="txt-input">
        </div>
    </div>
    <div id="prodName" class="col-md-3">
        <div class="col-md-3" style="padding: 0px;">
            <a class="text-field-desc" id="prodNameLbl">Product Name</a>
        </div>
        <div class="col-md-9">
            <input type="text" id="txt-input">
        </div>
    </div>
    <div id="prodWeight" class="col-md-3">
        <div class="col-md-3" style="padding: 0px;">
            @Html.LabelFor(m => m.Weight, new { @class = "form-control" })
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
        </div>
    </div>
</div>