<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Add Table
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <!-- Add Customer button -->
        <li>
            <a id="addCustomerBtn" OnClick="addCustomerButton()">
                Customer
            </a>
        </li>
        <!-- Add Cart button -->
        <li>
            <a id="addCartBtn" OnClick="addCartButton()">
                Cart
            </a>
        </li>
        <!-- Add Order button -->
        <li>
            <a id="addOrderBtn" OnClick="addOrderButton()">
                Order
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <!-- Add Product button -->
        <li>
            <a id="addProductBtn" OnClick="addProductButton()">
                Product
            </a>
        </li>
    </ul>
</div>

<div>
    <div id="tables" class="row">

    </div>
    <button onclick="submit()">Submit</button>
</div>


<script>
    $(document).ready(function () {

    });

    function submit() {
        debugger
        if ($('form')[0].checkValidity()) {
            $('input[type=submit]', this).attr('disabled', 'disabled');
        }
    }

    //$('form').submit(function () {
    //    debugger
    //    if ($('form').valid()) {
    //        $('input[type=submit]', this).attr('disabled', 'disabled');
    //    }
    //});

    function addCustomerButton() {
        if (!($('#addProductBtn').hasClass('selected-item'))) {
            if ($('#tableCustomer').length) {
                $('#tableCustomer').remove();
                $('#addCustomerBtn').removeClass('selected-item');
            } else {
                $.ajax({
                    url: '@Url.Action("GetTestCustomer", "Home")',
                    success: function (data) {
                        $('#tables').html($('#tables').html() + data);
                        $('#addCustomerBtn').addClass('selected-item');
                    }
                });
            }
        }
    }

    function addOrderButton() {
        if (!($('#addProductBtn').hasClass('selected-item'))) {
            if ($('#tableOrder').length) {
                $('#tableOrder').remove();
                $('#addOrderBtn').removeClass('selected-item');
            } else {
                $.ajax({
                    url: '@Url.Action("GetTestOrder", "Home")',
                    success: function (data) {
                        $('#tables').html($('#tables').html() + data);
                        $('#addOrderBtn').addClass('selected-item');
                    }
                });
            }
        }
    }

    function addCartButton() {
        if (!($('#addProductBtn').hasClass('selected-item'))) {
            if ($('#tableCart').length) {
                $('#tableCart').remove();
                $('#addCartBtn').removeClass('selected-item');
            } else {
                $.ajax({
                    url: '@Url.Action("GetTestCart", "Home")',
                    success: function (data) {
                        $('#tables').html($('#tables').html() + data);
                        $('#addCartBtn').addClass('selected-item');
                    }
                });
            }
        }
    }

    //https://stackoverflow.com/questions/6119098/how-to-call-controller-actions-using-jquery-in-asp-net-mvc
    function addProductButton() {
        if (!($('#addCartBtn').hasClass('selected-item') ||
            $('#addOrderBtn').hasClass('selected-item') ||
            $('#addCustomerBtn').hasClass('selected-item'))) {
            if ($('#tableProduct').length) {
                $('#tableProduct').remove();
                $('#addProductBtn').removeClass('selected-item');
            } else {
                $.ajax({
                    url: '@Url.Action("GetTestProduct", "Home")',
                    success: function (data) {
                        $('#tables').html($('#tables').html() + data);
                        $('#addProductBtn').addClass('selected-item');
                    }
                });
            }
        }
    }

</script>