@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.header {
    overflow: hidden;
    background-color: #384d63;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 80px;
}

.header-link {
    color: #e2e2de;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    align-self: stretch;
    height: 100%;
}

.header-link:hover {
    color: #f1f1ef;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    background-color: #47637e;
    display: inline-block;
    vertical-align: middle;
    align-self: stretch;
    height: 100%;
}

a .column {
    gewd
}

.column a {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    align-self: stretch;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    align-self: stretch;
    height: 100%;
    text-align: center;
}


.title {
    float: left;
    color: #e2e2de;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.title:hover {
    float: left;
    color: #f1f1ef;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    vertical-align: middle;
    background-color: #47637e;
    display: inline-block;
}


.header-buttons {
    padding-right:20px;
    float: right;
}

.button-main {
    padding: 10px 30px;
    color: #384d63;
    border-color: #384d63;
    border-width: 4px;
    border-radius: 8px;
    font-weight: bold;
    background-color: transparent;
}

.button-main:hover {
    padding: 10px 30px;
    color: #47637e;
    border-color: #47637e;
    border-width: 4px;
    border-radius: 8px;
    font-weight: bold;
    background-color: transparent;
}

.button-norm {
    padding: 10px 30px;
    color: #e2e2de;
    border-radius: 8px;
    font-weight: bold;
    background-color: #47637e;
}

.button-norm:hover {
    padding: 10px 30px;
    color: #f1f1ef;
    font-weight: bold;
    background-color: #384d63;
}

li .glyphicon {
    float: right;
    padding-right: 10px;
}

button .glyphicon {
    float: right;
    padding-right: 10px;
}

.bold-boy {
    font-weight: 600 !important;
    text-decoration: none;
}

.inline {
    display: inline;
}

.well-cs-bg {
    background-color: #d5d3da;
}

.text-field-desc  {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    align-self: stretch;
    height: 100%;
    text-align: center;
}

/*#daa5a5*/
.error {
    font-weight: bold;
    color: #cd8787;
}

.error-well {
    border-color: #cd8787;
    background-color: #daa5a5;
}

.well-cs-bg div {
    padding-right: 0px;
    padding-left: 0px;
}